<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Poppa's Pizza</title>

          <!-- Favicon -->
           <link rel="icon" type="image/jpg" href="images/pizza-slice.jpg">

           <!-- Stylesheet-->
          <link rel="stylesheet" href="styles/pizza-styles.css">

     </head>
     <body>
          <div id="main">
               <header>
                    <img src="images/pizza-girl.jpg" alt="Pizza Girl">
                    <h1>Poppa's Pizza</h1>
                    <p>The best pizza ever!</p>
                    <hr>
                    <a id="contact-button" href="#"  role="button">Contact Us</a>
               </header>

               <!-- Form will go here -->
                <form action="thankyou" method="get">
                    <!-- Contact Info -->
                     <fieldset>
                         <legend>Contact Info</legend>
                         <label>First Name:
                              <input type="text" name="fname">
                         </label>
                         
                         <label>Last Name:
                              <input type="text" name="lname">
                         </label>
                         
                         <label>Email Address:
                              <input type="email" name="email">
                         </label>
                     </fieldset>

                     <!-- Pickup or Delivery -->
                      <fieldset>
                         <legend>Select Pickup or Delivery</legend>
                         <label>
                              <input type="radio" name="method" value="pickup">
                              Pickup
                         </label>

                         <label>
                              <input type="radio" name="method" value="delivery">
                              Delivery
                         </label>
                      </fieldset>

                      <!-- Select Toppings -->
                       <fieldset>
                              <legend>Select Toppings</legend>
                              <label>
                                   <input type="checkbox" name="toppings" value="pineapple">
                                   Pineapple
                              </label>

                              <label>
                                   <input type="checkbox" name="toppings" value="garlic">
                                   Garlic
                              </label>

                              <label>
                                   <input type="checkbox" name="toppings" value="basil">
                                   Basil
                              </label>

                              <label>
                                   <input type="checkbox" name="toppings" value="vegancheese">
                                   Vegan Cheese
                              </label>

                              <label>
                                   <input type="checkbox" name="toppings" value="tomatosauce">
                                   Tomato Sauce
                              </label>

                              <label>
                                   <input type="checkbox" name="toppings" value="redonion">
                                   Red Onion
                              </label>

                              <label>
                                   <input type="checkbox" name="toppings" value="olives">
                                   Olives
                              </label>

                       </fieldset>

                       <!-- Pizza Size -->
                        <fieldset>
                              <legend>Pizza Size</legend>
                              <select name="size" id="size">
                                   <option value="none">-- Select a Size --</option>
                                   <option value="small">Small</option>
                                   <option value="med">Medium</option>
                                   <option value="large">Large</option>
                              </select>
                        </fieldset>

                    <!-- Place order button -->
                     <button type="submit">Place Order</button>
                </form>
          </div>
     </body>
</html>